<form action="" #contactForm="ngForm" (ngSubmit)="saveContactForm(contactForm)">
  <div class="row justify-content-center">

    <div class="col-lg-6">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" name="name" required ngModel #name="ngModel" class="form-control" placeholder="Your Name">
        <span *ngIf="!name.pristine && name.invalid" class="text-danger">Please enter name</span>
      </div>
      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" name="email" required #email="ngModel" ngModel class="form-control"
          placeholder="name@example.com">
        <span *ngIf="!email.pristine && email.invalid" class="text-danger">Please enter email</span>

      </div>
      <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="number" name="phone" required #phone="ngModel" ngModel class="form-control"
          placeholder="Phone Number">
        <span *ngIf="!phone.pristine && phone.invalid" class="text-danger">Please enter phone</span>

      </div>
      <div class="mb-3 d-flex justify-content-end">
        <div>
          <button type="button" class="btn btn-secondary" (click)="contactForm.resetForm()">Clear</button>
        </div>
        <div class="mx-3">
          <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">
            <ng-container *ngIf = "updateMode">
              Update
            </ng-container>
            <ng-container *ngIf = "!updateMode">
              Submit
            </ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>

</form>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contactData">
        <td>{{contact.id}}</td>
        <td>{{contact.name}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.phone}}</td>
        <td>
          <button class="btn btn-primary" (click) = "editContact(contact)">Edit</button>
          <button class="btn btn-danger mx-1" (click) = "deleteContact(contact.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>